.header.center {
    text-align: center;
}

body {
background-color: cornflowerblue;
}

img {
    height: 400px;
    width: auto;
}

.header, .list, .text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: cornsilk;
    font-weight: bold;}